* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  margin: 0;

}

.qp-wrapper {
  min-height: 100vh;
  background: linear-gradient(135deg, #ff7eb3, #ffb3d9);
  display: flex;
  justify-content: center;
  align-items: center;

}

.qp-card {
  background: white;
  padding: 25px;
  padding-bottom: 0px;
  width: 100%;
  max-width: 480px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  text-align: center;

}

h1 {
  margin-bottom: 5px;
}

.sub {
  color: #777;
  font-size: 14px;
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 10px;
}

.btnAnalizar {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ff4f9a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  
}

.btnAnalizar:hover {
  background: #ff2f85;
}



.loading {
  font-size: 13px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin: auto;
}


.pulse {
  color: #ff4f9a;
  font-weight: bold;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {opacity: .4}
  50% {opacity: 1}
  100% {opacity: .4}
}

.resultados {
  margin-top: 15px;
  height: auto;
}

.percent {
  font-size: 42px;
  font-weight: bold;
  color: #ff2f85;
  margin-top: -2%;
}

.msg {
  font-weight: 600;
}

.emotion {
  color: #ff2f85;
  font-style: italic;
  animation: fade .8s ease-in;
}

@keyframes fade {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1; transform: translateY(0);}
}

.share {
  margin-bottom: 2%;
  margin-top: 1.5%;
  background: none;
  color: #fff;
  background: #ff2f85;
  border-radius: 10px;
   cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

.promoquien{

  width: 280px;
  max-height: 320px;
  overflow-y: auto; 
  margin-top: 0px;
  border-radius: 14px;
  background: rgba(255,255,255,0.04);

  margin: auto;
}